black==21.10b0
click==8.1.7
colorlog==4.8.0
dacite==1.8.1
flake8==4.0.1
gitdb==4.0.11
GitPython==3.1.43
isort==5.10.1
mccabe==0.6.1
mypy==0.910
mypy_extensions==0.4.4
pathspec==0.12.1
platformdirs==4.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
pysen==0.11.0
regex==2024.5.15
smmap==5.0.1
toml==0.10.2
tomli==1.2.3
tomlkit==0.12.5
typing_extensions==4.11.0
unidiff==0.7.5
